{ "extends": ["eslint-config-airbnb"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "react/no-multi-comp": 0,
    "react/prefer-stateless-function": 0,
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 2,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0,
    "no-alert": 0,
    "strict": 0,
    "arrow-body-style": 0,
    "no-confusing-arrow": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "object-curly-spacing": 0,
    "babel/object-curly-spacing": ["error", "never"],
    "react/jsx-filename-extension": 0,
    "arrow-parens": ["error", "always"],
    "no-prototype-builtins": 0,
    "import/prefer-default-export": 0,
    "max-len": 0,
    "no-unused-vars": 1,
    "global-require": 0,
    "no-useless-escape": "off"
  },
  "plugins": [
    "react", "import", "babel"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true,
    "expect": true
  }
}
